@media (max-width: 992px) {
  .card-grid,
  .highlight-box,
  .contact-grid,
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }

  .hero-content {
    padding-top: 180px;
  }

  .hero-content h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    color: #fff;
  }

  .navbar {
    display: none;
    flex-direction: column;
    background: #1e2a38;
    position: absolute;
    top: 70px;
    right: 5%;
    width: 220px;
    padding: 15px;
    border-radius: 8px;
  }

  .navbar.show {
    display: flex;
  }

  .hero {
    height: 75vh;
  }

  .hero-content {
    padding-top: 140px;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .card-grid,
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .small-banner .container {
    padding-top: 100px;
  }
}
